body{
background-color: black;
color: crimson;
}
header{
background-color: gold;
color: black;
font-style: normal;

}
section{
    background-color:black;
    color: darkcyan;
    border-radius: 10px;
    padding: 15;
    margin: auto;
    box-shadow: 5px 5px 5px black;
}
footer{
    background-color: green;
    color: whitesmoke;
    font-style:italic

}
